apiVersion: apps/v1
kind: Deployment
metadata:
  name: devsecops-demo
  namespace: demo
  labels:
    app.kubernetes.io/name: devsecops-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: devsecops-demo
  template:
    metadata:
      labels:
        app.kubernetes.io/name: devsecops-demo
    spec:
      serviceAccountName: default
      containers:
        - name: app
          image: "${IMAGE_URI}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 30
          env:
            - name: JAVA_TOOL_OPTIONS
              value: "-XX:+UseContainerSupport"
            - name: SPRING_PROFILES_ACTIVE
              value: prod
            - name: LOGGING_LEVEL_ROOT
              value: INFO
